<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Customer interface</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico">
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script type="text/javascript" src="node_modules/vue-router/dist/vue-router.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="components/customer.js"></script>
    <script type="text/javascript" src="components/login.js"></script>
    <script type="text/javascript" src="js/pasteque-customer_access.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ shop_name }}</h1>
        <router-view></router-view>
    </div>
</body>
</html>
